name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: build
      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: test
