name: Update Dependencies

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 12 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: ".nvmrc"
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: PR
      uses: technote-space/create-pr-action@v2
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        EXECUTE_COMMANDS: pnpm update
        COMMIT_MESSAGE: Updated dependencies
        PR_BRANCH_NAME: automatic_dependency_updates
        PR_TITLE: Update dependencies
        PR_BODY: Automatic `pnpm update` based dependencies update
